body {
  margin: 0;
  padding: 0;
  background-color: rgb(66, 63, 66);
}

.game {
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game .name {
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-size: 30px;
}

.game .name p {
  margin: 0;
  padding: 0 0 15px 0;
}

.box {
  background-color: rgb(25, 25, 25);
  border: 2px solid rgb(16, 15, 15);
  border-radius: 20px;
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

p {
  display: block;
}

.box p {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
  color: aliceblue;
  font-size: 20px;
  padding-top: 10px;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  margin: 30px 50px;
  height: 1px;
  width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-weight: bold;
}

.details {
  height: 100%;
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details > p {
  margin: 10px 0 10px 0;
  padding: 0;
  color: aliceblue;
  text-align: start;
  box-sizing: border-box;
  padding-left: 10px;
  position: relative;
}

.results {
  height: 100%;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

#winner {
  box-sizing: border-box;
  text-align: center;
  font-size: 50px;
}

img {
  width: 100px;
}

#score {
  margin: 0;
  padding: 0;
}

.scoreboard {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.scoreboard p {
  margin: 10px 0 0 0;
  padding: 0 0 0 10px;
}

.scoreboard > button {
  color: aliceblue;
  font-size: large;
  text-align: left;
  margin-left: 30px;
}
