body {
  margin: 0;
  padding: 0;
  background-color: rgb(66, 63, 66);
}

.game {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game .name {
  color: aliceblue;
  font-size: 30px;
}

.box {
  background-color: rgb(25, 25, 25);
  border: 2px solid rgb(16, 15, 15);
  border-radius: 20px;
  height: 80%;
  width: 90%;
}

.box p {
  text-align: center;
  color: aliceblue;
  font-size: 20px;
  padding-top: 10px;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  box-sizing: border-box;
}

button {
  margin: 10px 10px;
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: black;
}

.details {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details > p {
  color: aliceblue;
  text-align: start;
  box-sizing: border-box;
  padding-left: 10px;
}

.results {
  text-align: center;
  padding-top: 50px;
}

#winner {
  margin: 0;
  padding-top: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 50px;
}

p {
  display: block;
}
